<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.simran.permissions">

    <!--
    INTERNET PERMISSIONS ARE LESS SENSITIVE PERMISSIONS SO USER WONT BE ASKED TO APPROVE IT.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
     THESE ARE SENSITIVE PERMISSIONS, SO USER WILL BE ASKED TO APPROVE IT FROM YOUR ACTIVITY OF FRAGMENT
     -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Permissions">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>